<!DOCTYPE html>
<html>
<head>
  <title>DiagPages</title>
  <%= stylesheet_link_tag    "diag_pages/application", media: "all" %>
  <%= javascript_include_tag "diag_pages/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
